.App > *:not(:first-child) {
  width: 90%;
  margin: auto;
}

.SearchForm{
  border-bottom: 1px solid grey;
}

.SearchForm form {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.SearchForm form > button{
  padding: 0;
}

.App .Restaurants > table {
  width: 100%;
  margin: 0;
}


@media only screen and (max-width: 768px) {
  .SearchForm form {
    flex-direction: column;
  }

  .SearchForm form > * {
    width: 100%;
    box-sizing: border-box;
  }
}

.SearchForm form > * {
  margin-bottom: 1rem;
}

tbody {
  display: table;
  widtH: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .Restaurant {
  border-bottom: 1px solid grey;
}

table {
  border-collapse: collapse;
} 

/* PaginationButtons */

.PaginationButtons {
  display: flex;
  margin: 1rem 0;
  font-size: 1.2rem;
  justify-content: center;
}

.PaginationButtons > .CurrentPage {
  padding: 0 1rem;
}
